*.aux
*.log
*.toc
*.aux
*.log
*.toc
__pycache__/
*.aux
*.log
*.toc
build_latex.py
generate_exos_tp.py
update_dashboard.py
update_readme.py
*.aux
*.log
*.toc
*.out
jalon-74/*.aux
jalon-74/*.log
jalon-74/*.toc
